html{
    background-color: #020659;
}

body {
  margin: 0 auto;
  max-width: 834px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #ffffff;
}


header {
    background: linear-gradient(90deg, #2104D9, #000000);
    color:#ffffff;
    padding: 85px 1px 8px 25px;
  }

nav {
    position: absolute;
    top: 0;
    z-index: 1;
    text-transform: uppercase;
    background-color: #030A8C;
    width: 834px;
}

nav h2 {
    visibility: hidden;
    height: 1px;
}

[href="MUZAKMAKER"]{
    text-transform: capitalize;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 30px;
    color: #ffffff;
    text-decoration: none;
}

.scrollbar{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 37%;
    overflow: auto;
    overflow-y: hidden;
    gap: 20px;
    height: 350px;
    margin: 5px;
}

::-webkit-scrollbar{
    width: 100%;
}

::-webkit-scrollbar-track{
    border:1px solid #590242;
    border-radius: 2px;
    background:#5f4a59;
}

::-webkit-scrollbar-thumb{
    background: #590242;
}

li  {
    margin:25px;
  }

li a{
    text-decoration: none;
    color: #ffffff;
}

a:hover, input:hover{
    background-color: #590242;
    width: 100px;
}

h1 {
    font-size:1.25em;
}

h2{
    margin-left: 20px;
    color:#590242
}

h2, h3 {
    font-size: 1em;
}

 .Aloma h2{
    padding-top: 10px;
    margin-left: 5px; 
    font-weight: bold;
    color:#590242
}

.road h2{
    padding-top: 10px;
    margin-left: 5px; 
    font-weight: bold;
    color:#590242
}

.fruit h2{
    padding-top: 10px;
    margin-left: 5px; 
    font-weight: bold;
    color:#590242
}

.smooth h2{
    padding-top: 10px;
    margin-left: 5px; 
    font-weight: bold;
    color:#590242
}

.success h2{
    padding-top: 10px;
    margin-left: 5px; 
    font-weight: bold;
    color:#590242
}

.curetitle{
    position: relative;
    left: 400px;
}

.playtitle{
    position: relative;
    top: 32px;
}

p, dl, dd {
    font-size: 1em;
}

footer p {
    font-size: .75em;
    font-weight: bold;
}

.playsty{
    background-color: #2699FB;
    color: #ffffff;
}

#PLAYLISTS{
    background-color: #0D8DFB; 
    text-align: center;
    
}

.CuratedSty{
    background-color: #2104D9;
    color: #ffffff;
}

#CURATED{
    background-color: #020659;
    text-align: center;
}

button{
    background-color: #590242;
    color: #ffffff;
    width: 130px;
    padding: 5px;
}

.button1{
    position:relative;
    left: 686px;
    margin: 10px;
    border-radius: 5px;
}

.button2{
    position:relative;
    left: 280px;
    margin: 10px;
    border-radius: 5px;
}

.button3{
    position:relative;
    left: 270px;
    margin: 10px;
    border-radius: 5px;
}

footer{
    text-align: center;
    padding-bottom: 8px; 
    color: #590242;
}

.grid-container {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: auto auto;
    height: 450px;
}

.item1{
    grid-column: 1;
   grid-row: 1;
   width: 410px;
   display: grid;
   overflow-y: scroll;
   padding-bottom: 0;
 }
 
 .item2{
    grid-column: 2;
   grid-row: 1;
   width: 417px;
   display: grid;
   overflow-y: scroll;
   padding-bottom: 0;
 }


audio{
    position:relative;
    left: 5px;
    bottom:180px;
    opacity: .60;
    border-radius: 10%;

}

.Aloma{
    position: relative;
    bottom: 149px;
    background: #808080;
    opacity: 50%;
    width: 102.2%;
    height: 86px;
}
.road{
    position: relative;
    bottom: 149px;
    background: #808080;
    opacity: 60%;
    width: 102.2%;
    height: 86px;
}

.fruit{
    position: relative;
    bottom: 149px;
    background: #808080;
    opacity: 83%;
    width: 102.2%;
    height: 86px;
}

.smooth{
    position: relative;
    bottom: 149px;
    background: #808080;
    opacity: 90%;
    width: 102.2%;
    height: 86px;
}


.success{
    position: relative;
    bottom: 149px;
    background: #808080;
    opacity: 90%;
    width: 102.2%;
    height: 86px;
}

.playsty img{
    float: left;
    margin: 8px;
}

.CuratedSty img{
    float: left;
    margin: 8px;
}

dd{
    position:absolute;
    color: #590242;
    font-size: 12px;
    bottom: 26px;
    left: 13px;
    font-weight: bold;
    
}

dt{
    color: #590242;
    font-size: 12px;
    margin-left: 5px;
    font-weight: bold;
}

    ul {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}

label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}

@media screen and (min-width:834px) {
    ul {
        overflow: visible;
        position: absolute;
        top: 0;
        display: flex;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    }

    
    label span, input {
        display: none;
    }
}

